# Insgesamt

In [2]:
import mysql.connector
import pandas as pd

from IPython.display import display, Markdown, HTML

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="secret",
    port="3306",
    database="serlo",
    charset="latin1"
)

df = pd.read_sql(f"""
    select entity.id, type.name from entity
    left join uuid on uuid.id = entity.id
    left join type on type.id = entity.type_id
    where uuid.trashed = 0;
""", db)
df = df.groupby("id").first()
df.reset_index(inplace=True)
df = df.groupby("name").count()
df.rename(columns={"id": "count"}, inplace=True)
df["share"] = df["count"] / df["count"].sum()
display(df)

/home/kulla/.local/share/asdf/installs/python/3.9.1/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

                                         count     share
name
applet                                     138  0.004198
article                                   2765  0.084112
course                                     490  0.014906
course-page                               3205  0.097496
event                                       17  0.000517
grouped-text-exercise                     7434  0.226143
input-expression-equal-match-challenge     151  0.004593
input-number-exact-match-challenge         518  0.015758
input-string-normalized-match-challenge    128  0.003894
math-puzzle                                 75  0.002282
multiple-choice-right-answer               468  0.014237
multiple-choice-wrong-answer               569  0.017309
single-choice-right-answer                 535  0.016275
single-choice-wrong-answer                1053  0.032032
text-exercise                             3638  0.110668
text-exercise-group                       1943  0.059106
text-solution                             9275  0.282146
video                                      471  0.014328

# 2020

In [4]:
df = pd.read_sql(f"""
    select entity.id, type.name from entity
    left join uuid on uuid.id = entity.id
    left join type on type.id = entity.type_id
    where uuid.trashed = 0 and YEAR(entity.date) = 2020;
""", db)
df = df.groupby("id").first()
df.reset_index(inplace=True)
df = df.groupby("name").count()
df.rename(columns={"id": "count"}, inplace=True)
df["share"] = df["count"] / df["count"].sum()
display(df)

                                         count     share
name
applet                                      17  0.004196
article                                    645  0.159220
course                                      67  0.016539
course-page                                416  0.102691
event                                        6  0.001481
grouped-text-exercise                      791  0.195260
input-string-normalized-match-challenge      1  0.000247
math-puzzle                                  6  0.001481
multiple-choice-wrong-answer                 1  0.000247
single-choice-right-answer                   3  0.000741
single-choice-wrong-answer                   7  0.001728
text-exercise                              651  0.160701
text-exercise-group                        246  0.060726
text-solution                             1150  0.283881
video                                       44  0.010862